body {
  font-family: 'VT323', monospace;
  color: yellow;
  font-weight: bold;
  font-size: 30px;
  background-image: url("../images/starwars_stars.png");
}

.main-section-title {
  color: black;
  font-size: 100px;
  text-align: center;
  text-shadow: -4px 0 yellow, 0  -3px yellow, -3px 0 yellow, 0 -3px yellow;
}

/* images */
img {
  width: 200px;
  height: 150px;
  border-radius: 15px;
}

.character {
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
  background-color: black;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}

#attack-button {
  background: white;
  color: black;
}

.attack-button {
  background: white;
  color: black;
}
